<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bba67a">  <td>20/01/07 18:10:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;bankAccess.testSetUp()[pri:0, instance:unitTest.bankAccess@23f7d05d]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@199640888</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>20/01/07 18:10:29</td>   <td>5359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="bankAccess.createExam()[pri:1, instance:unitTest.bankAccess@23f7d05d]">createExam</td> 
  <td>main@199640888</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>20/01/07 18:11:17</td>   <td>53415</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;bankAccess.tearDown()[pri:0, instance:unitTest.bankAccess@23f7d05d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@199640888</td>   <td></td> </tr>
</table>
